.home {
   margin-top: 100px !important;
}

.home-info {
   width: 50%;
   margin: 50px;
}

@media only screen and (min-width:280px) and (max-width:575px) {

   .home {
      margin-top: 0px !important;
   }

   .home-info {
      width: 80%;
      margin-top: 50px !important;
   }
}